{% extends 'index.html' %}

{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        :root {
            --color1: #222831;
            --color2: #393E46;
            --color3: #00ADB5;
            --color4: #EEEEEE;
            --color5: #B7C4CF;
        }

        html {
            font-family: Arial;
            font-size: 16px;
            background: var(--color3);
        }

        .sidebar {
            position: fixed;
            width: 25%;
            height: 100vh;
            background: var(--color4);
            font-size: 0.65em;
        }

        .nav {
            position: relative;
            margin: 0 15%;
            text-align: right;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
        }

        .nav ul {
            list-style: none;

            li {
                position: relative;
                margin: 3.2em 0;
                text-align: center;

                a {
                    line-height: 5em;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: 0.4em;
                    color: var(--color1);
                    display: block;
                    transition: all ease-out 300ms;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.2em;
                    background: var(--color1);
                    left: 0;
                    bottom: 0;
                    background-image: linear-gradient(to right, #5e42a6, #b74e91)
                }
            }
        }

        .twitter {
            position: relative;
            width: 75%;
            float: right;
            height: 100vh;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            a {
                position: relative;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            p {
                text-transform: uppercase;
                font-size: 1em;
                letter-spacing: 0.1em;
                color: #FFF;
                font-weight: bold;
                margin-top: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: var(--color5)
            }
            tr:nth-child(even) {
                background-color: var(--color5);
            }
            tr{
                background-color: var(--color4);
            }
            .pagination {
                margin-top: 20px;
            }

            .pagination .step-links {
                margin-top: 10px;
            }

            .pagination .step-links a {
                padding: 5px 10px;
                text-decoration: none;
                color: var(--color1);
                background-color: var(--color4);
                border-radius: 5px;
            }

            .pagination .step-links .current {
                margin: 0 10px;
                color: var(--color1);
            }

        }
    </style>

    <main class="main">
        <aside class="sidebar">
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'my_account' %}">Main Page</a></li>
                    <li><a href="{% url 'transfer' %}">Make transfer</a></li>
                    <li><a href="{% url 'request' %}">Request transfer</a></li>
                    <li><a href="{% url 'history' %}">Transaction history</a></li>
                    <li><a href="{% url 'notifications' %}">Notifications</a> </li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </aside>

        <section class="twitter">
            <div class="container">
                <h1>Transaction List</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in page_obj %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.sender.user.username }}</td>
                            <td>{{ transaction.recipient.user.username }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if page_obj.has_other_pages %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>




{% endblock %}