{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
    .card-title{
        text-align: center;
    }
    
    .login-container{
        margin-right: 550px;
        margin-left: 550px;
        margin-top: 50px;
        padding: 20px 50px;
    }
    #sbutton{
        margin-bottom: 15px;
    }
        
    </style>

    <div class="login-container">
        <h2 class="card-title">Login</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert{% if message.tags == 'error' %} alert-danger{% elif message.tags == 'success' %} alert-success{% endif %}">
                        <span class="message">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            {{ form|crispy }}

            <button id="sbutton" type="submit" class="btn btn-sm btn-primary">Login</button>
            <p>Click <a href="{% url 'signup' %}">here</a> if you don't have an account yet</p>
            
        </form>
    
    </div>

    

{% endblock %}